@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url("./../fonts/Inter.ttf");
}

body {
  font-size: 1rem;
  font-family: Inter;
  color: #D9D9D9;
}
