

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-size: 1rem;
  font-family: Inter;
}

[data-theme="dark"] body {
  color: #d9d9d9;
}

[data-theme="light"] body {
  color: #0C0D0C;
}

/* styles.css or a global CSS file */
.scrollbar-primary::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height for horizontal scrollbars */
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  background-color: theme("colors.primary"); /* Use Tailwind's primary color */
  border-radius: 4px; /* Round corners */
}

.scrollbar-primary::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}

.scrollbar-primary::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons */
}

.scrollbar-primary {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: theme("colors.primary") transparent; /* Thumb color and track color */
}

/* Hide the corners */
.scrollbar-primary::-webkit-scrollbar-corner {
  background: transparent; /* Ensure the corner is transparent */
}

button,
h1,
h2,
h3,
h4,
h5,
h6 {
  caret-color: transparent;
}
